<!DOCTYPE html>


<html >
<head>
  <meta charset="UTF-8">
  <title>Puzzle Grid Test</title>



  <link rel='stylesheet' href='https://gitcdn.xyz/repo/angular/bower-material/v0.11.0/angular-material.css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-aria.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-messages.min.js'></script>
  <script src='https://gitcdn.xyz/repo/angular/bower-material/v0.11.0/angular-material.js'></script>
  <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>
  <script src="js/index.js"></script>



</head>

<body>


  <div ng-controller="AppCtrl as appCtrl" class="gridListdemoResponsiveUsage" ng-app="MyApp" >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="main">
          <md-icon md-svg-icon="https://raw.githubusercontent.com/virgilvox/puzzle_grid/master/img/icons/pi.svg"
          style="color: white;"></md-icon>
        </md-button>
        <h2>
          <span>Ivoirians</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised" style="background-color: rgb(63,81,181);">Archive</md-button>
        <md-button class="md-raised" style="background-color: rgb(63,81,181);">Puzzle</md-button>
        <md-button class="md-raised" style="background-color: rgb(63,81,181);">About</md-button>
      </div>
    </md-toolbar>
    <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">
      <span flex>
        <md-content ng-if="loadGrid" layout-padding="">
          <md-grid-list md-cols-gt-md="12" md-cols-sm="3" md-cols-md="8" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px">
            <md-grid-tile ng-repeat="tile in allTiles" ng-click="clicked($index)" ng-style="{
              'background': tile.color
            }" md-colspan-gt-sm="{{tile.colspan}}" md-rowspan-gt-sm="{{tile.rowspan}}">
          </md-grid-tile>
        </md-grid-list>
      </md-content>
    </span>
  </md-whiteframe>

</div>




</body>
</html>
